body {
    font-family: Georgia, serif;
    margin: 0;
    background-color: #ffffff;
    color: #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 2px solid black;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar nav a.active {
    text-decoration: underline;
}

main {
    padding: 40px;
}

h2 {
    margin-bottom: 20px;
}

.top-cards {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.card {
    border: 3px solid black;
    border-radius: 20px;
    padding: 25px;
    width: 45%;
}

.card img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}

.match-card img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.tags span {
    display: inline-block;
    background: #e5f5d8;
    padding: 5px 12px;
    border-radius: 20px;
    margin-right: 8px;
    margin-bottom: 8px;
}

button {
    margin-top: 15px;
    padding: 10px 18px;
    border-radius: 20px;
    border: 2px solid black;
    background: #ffd966;
    cursor: pointer;
    font-size: 16px;
}

.activity-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.activity-card {
    text-align: center;
}

.activity-card img {
    width: 100%;
    border-radius: 12px;
}

.interest-count {
    display: inline-block;
    margin-top: 8px;
    padding: 6px 12px;
    border-radius: 20px;
    background: #eee;
    font-size: 14px;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo-title img {
    height: 105px;
    width: auto;
}

.logo-title {
    text-decoration: none;
    color: black;
}

