* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  'Georgia';
    background: white;
    min-height: 100vh;
    padding: 20px;
}

/* login/register styles */

.flash-messages{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .flash-message.danger{
    color: red;
  }

  .flash-message.success{
    color: green;
  }

  .page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .tab-nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    gap: 0.125rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .tab-button {
    background: transparent;
    border:none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1.25rem;
    border-radius: 6px;
    cursor: pointer;
   
  }

  .tab-button:hover {
    background: rgb(0, 0, 0, 0.1);
    color: black;
  }

  .tab-button.active{
    background: black;
    color: white;
  }

  .form-content{
    display: none;
}
.form-content.active{
    display: block;
    font-size: larger;
}

input[type='text'], input[type='email'], input[type='password'], textarea{
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
    border-color: solid black;
    font-size: 0.9375rem;
}

.form-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.btn-submit{
    margin-top: 20px;
    padding:0.5rem 1.25rem;
    border-radius: 8px;
    border: solid black;
    width: 100%;
    background-color: white;
    font-size: 0.9375rem;


    font-weight: 600;
  }

  .btn-submit:hover{
    
    background: rgb(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .header{
    text-align: center;
    margin-top: 50px;
}

.logo{
    width: 20%;
    height:auto;
    margin-top: 30px;

}

.welcome-desc{
    font-size: larger;
    margin-top: 15px;
    color: black;
}

